body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #b8d3ff;
}

#items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.item-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: #ffe79f;
}

.item-card img {
    max-width: 64px;
    height: auto;
}

#progress-container {
    width: 100%;
    background-color: #eee;
    height: 20px;
    margin-top: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #00ff08;
    transition: width 0.3s;
}